
nav{
    max-width: 90%;
  }

section main{
  position: relative;

   width: 100%;
   height: auto; 
}

section main h1{
  font-size: 47px;
  margin-top: 40px;
  margin-bottom: 20px;
}

section main .h2_abaut_em{
  text-align:  center;

  font-size: 20px;
}
section main .h2_abaut_em span{
  padding: 10px;
}

section main .button_div{
  width: 240px; 
  height: 100px;

  position: absolute;
  bottom: -400px;
  left: 18%;
}

section main .button_div button{
  width: 90%; 
  height: 70%; 

  font-size: 20px;
}

.application{
  margin-top: 240px;

  width: 400px;
  height: 600px;
}

footer{
    position: absolute;
    bottom: 0px;
}

.post{
  min-width: 420px;
  min-height: 310px;

  box-shadow: none;
}

.post .slider{
  width: 420px;
  height: auto;
}

.post .slider .publication{
  max-width: 420px;
  height: auto;
}

.slider .publication img{
  max-width: 420px;
  max-height: 260px;
}
.slider .publication video{
  max-width: 420px;
  max-height: 260px;
}

.description{
  width: 400px;
}

footer{
  gap: 4vh;
}