<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css?style=style.css">
<title>Хайр</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/?html=app">Главное</a></li>
        <li><a href="/?html=news">Новости</a></li>
        <li><a href="/?html=adout_us">О нас</a></li>
    </ul>
</nav>
<main class="abaut_main">
<div class="h2_abaut">
    <em class="h2_abaut_em">
        <em>Строительство частных и </em>
        <em>коммерческих объектов под ключ</em>
    </em>
    <em class="h2_abaut_em">
        <em>БЫСТРО.</em> 
        <em>КАЧЕСТВЕННО.</em>
        <em>ДОРОГО.</em>
    </em>
</div>
</main>

<footer>
    <div class="footer_h2">Хайр</div>
    <div class="footer_btn">
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA7ElEQVR4nO2UvwrCMBCHv8nFPw8kSrWrFR9HEDcp6tuIddX2Yazu1j0SuMEhSWPS0R8chLvLfUdyCfwVqBVQAW9AtZjOKYGlb/GDR1Flsdyn85DCY2Ai68wFqAIBE2Aq65sL0FgKnIAE6IvNgLMl9+UCmDasHfkbyx5vwEn8PeAIPIBaBkH7tIoYQOKYLO3TmscABuJ/GGJPiQ27ANSG2F1ioxjAzHFEe4mlMYCz+HsCqQ2XfIkBKBlFm7a/jqntoRUyLQOx1NJ560MrA78K9WVXF2DZAWBBi/KI4js8lcmv2HgUbeRYWjv/C5M+zlP3iDQ02P4AAAAASUVORK5CYII=">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABn0lEQVR4nO3Uz4uNURgH8I8fkdL4URr+gEuUWFhaSdHMZE1hY8FCiY0kFspGEmExKyUbpWYW0xQbsvCjmWaa9ZQSCyXclIi4OvW89XS779zuuNnwrVPnPc/3fL/Pe57nHP7jL2E1jmMa33C+X8KbcQNNtNL48ieiy3AAD/EriT7FhZi/XozwWpzCqyT6FXexIziHY32sF+FduBNilfA8TodpxrWIlz9ZECtxBC+S6E9MYD+WBm8Yt9O+J8EdqhPehLN4m4SbGMXWtuIWs2cYiLVi+jn2DHYSP4PvSXgGx7AqcdbhevCeJ/GCLbHvTV32H4LwDns7dM4JvA/OS6xp4xyK2HidwYOU/SfcxHbswVyKTXUobsHViF+sMyhZHo1zbdWM6TimTngcnFL4riiZ32oTLwVcX8Nfkm7zRj1gJhlMhtAlXI55hUZwSvf1hHPJoDxg99J3uXzLg3ewW4Hr0EiCVQc14zEr8/tYgSvdCrwQppJJeYe2YXd0WisevaoxRhZjsC+yfoQNaX1n3JnK/EdbvC9oYBYfcbLf4v4N/AYz8oT2BYy/WwAAAABJRU5ErkJggg==">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABX0lEQVR4nN2UOUtDURCFPzVa2KhYWae1E1uxExXcgkthaSG2/gCLFBZWdnbiEvIzxM4mICjEvbFOEVxQEK8MjBDum/fevUmXA1M85syc+2aDbkc/sApUgDrwrvYAVIENYKDd5EvAI+By7BkoxSTuBfYDEjvPDoC+EIF2krsWkUwsAL8dCLiscklD7z3yK7ADXEQIPKU1ftkgT6tvIvIv1i2BE4/0BfS0+GsRAjLWCdx6JOnFiPpGtVyhAlLqBBoGcVd9a5ElerMEmgaxCRS1VNUIAYlLwJ+gf7sGBnUyDrV038Cmfn8YMXJWEqhkvOgSGFLeJDDbEjcGfHr8U0uglPPbdWDKiCsa3BVLoKBLklffGrAHzABbwIvnv9NcJq4ip8UZoz2flnwY+OlQoJyWPKQHLuflZT31qTjyghqB2yvNnyMAcjHPgW1gXJeroEfwTBPJAonwDXAMLGY1tDvwB33UIU7s097IAAAAAElFTkSuQmCC">
            </a>
        </button>
    </div>
    <div class="contact">
        <h3>+7 928 555-55-55</h3>
        <h3>+7 928 555-55-55</h3>
    </div>
</footer>

</body>
</html>