<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
<link rel="stylesheet" media="screen and (max-device-width:480px)" href="{{ url_for('static', filename= 'css/mobile_style.css') }}" />
<title>Хайр</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="/?html=app">Главное</a></li>
        <li><a href="/?html=news">Новости</a></li>
    </ul>
</nav>
<section class="content">

    <main>
        <h1>Строительная Компания Хайр</h1>
        <em class="h2_abaut_em">
            Строительство частных и 
            коммерческих объектов под ключ
            <br>
            БЫСТРО.
            КАЧЕСТВЕННО.
            ДОРОГО.
        </em>
        
        <button id="button_1">
            <span>Подать заявку</span>
        </button>
        <h6 id="h3_true"> </h6>
    </main>

    <div class="application" id="application">

        <button id="exit"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAh0lEQVR4nO2USw6AIAwF5xIlckQ9riw8Dm4wMYZAy8e4cFYs2vcKLYWfr7ICzhDvUo6KDYhAUJq4FBtTbhUB9pRwAN4Qu2hvoTGRVnGNifSKl0xklHiuieFxtkxaEblVPazymoEfJe5mPpFkGmr5J2bxi24TzShKq4llzqXFZPqym76uf97lBItjSzKPDXfjAAAAAElFTkSuQmCC"></button>
        
        <div class="h2_input">
            <p class="p_heder">Ведите ФИО</p>
            <input id="input_fio" class="input" type="text">
            <p id="p1" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder">Ведите название оргонизацыи</p>
            <input id="input_organization" class="input" type="text">
            <p id="p2" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder"></p>Ведите предостовляеммые услугу или продукт</p>
            <input id="input_description" class="input" type="text">
            <p id="p3" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder"></p>Контактная информация</p>
            <input id="input_contact" class="input" type="email">
            <p id="p4" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder">Цена ваших услуг или продукта</p>
            <input id="input_price" class="input" type="text">
            <p id="p5" class="p_input"></p>
        </div>

        <button id="button_2">Отправить</button>
    </div>
</section>

<footer>
    <div class="footer_h2">Хайр</div>
    <div class="footer_btn">
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA7ElEQVR4nO2UvwrCMBCHv8nFPw8kSrWrFR9HEDcp6tuIddX2Yazu1j0SuMEhSWPS0R8chLvLfUdyCfwVqBVQAW9AtZjOKYGlb/GDR1Flsdyn85DCY2Ai68wFqAIBE2Aq65sL0FgKnIAE6IvNgLMl9+UCmDasHfkbyx5vwEn8PeAIPIBaBkH7tIoYQOKYLO3TmscABuJ/GGJPiQ27ANSG2F1ioxjAzHFEe4mlMYCz+HsCqQ2XfIkBKBlFm7a/jqntoRUyLQOx1NJ560MrA78K9WVXF2DZAWBBi/KI4js8lcmv2HgUbeRYWjv/C5M+zlP3iDQ02P4AAAAASUVORK5CYII=">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABn0lEQVR4nO3Uz4uNURgH8I8fkdL4URr+gEuUWFhaSdHMZE1hY8FCiY0kFspGEmExKyUbpWYW0xQbsvCjmWaa9ZQSCyXclIi4OvW89XS779zuuNnwrVPnPc/3fL/Pe57nHP7jL2E1jmMa33C+X8KbcQNNtNL48ieiy3AAD/EriT7FhZi/XozwWpzCqyT6FXexIziHY32sF+FduBNilfA8TodpxrWIlz9ZECtxBC+S6E9MYD+WBm8Yt9O+J8EdqhPehLN4m4SbGMXWtuIWs2cYiLVi+jn2DHYSP4PvSXgGx7AqcdbhevCeJ/GCLbHvTV32H4LwDns7dM4JvA/OS6xp4xyK2HidwYOU/SfcxHbswVyKTXUobsHViF+sMyhZHo1zbdWM6TimTngcnFL4riiZ32oTLwVcX8Nfkm7zRj1gJhlMhtAlXI55hUZwSvf1hHPJoDxg99J3uXzLg3ewW4Hr0EiCVQc14zEr8/tYgSvdCrwQppJJeYe2YXd0WisevaoxRhZjsC+yfoQNaX1n3JnK/EdbvC9oYBYfcbLf4v4N/AYz8oT2BYy/WwAAAABJRU5ErkJggg==">
            </a>
        </button>
        <button>
            <a href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABX0lEQVR4nN2UOUtDURCFPzVa2KhYWae1E1uxExXcgkthaSG2/gCLFBZWdnbiEvIzxM4mICjEvbFOEVxQEK8MjBDum/fevUmXA1M85syc+2aDbkc/sApUgDrwrvYAVIENYKDd5EvAI+By7BkoxSTuBfYDEjvPDoC+EIF2krsWkUwsAL8dCLiscklD7z3yK7ADXEQIPKU1ftkgT6tvIvIv1i2BE4/0BfS0+GsRAjLWCdx6JOnFiPpGtVyhAlLqBBoGcVd9a5ElerMEmgaxCRS1VNUIAYlLwJ+gf7sGBnUyDrV038Cmfn8YMXJWEqhkvOgSGFLeJDDbEjcGfHr8U0uglPPbdWDKiCsa3BVLoKBLklffGrAHzABbwIvnv9NcJq4ip8UZoz2flnwY+OlQoJyWPKQHLuflZT31qTjyghqB2yvNnyMAcjHPgW1gXJeroEfwTBPJAonwDXAMLGY1tDvwB33UIU7s097IAAAAAElFTkSuQmCC">
            </a>
        </button>
    </div>
    <div class="contact">
        <h3>+7 928 555-55-55</h3>
        <h3>+7 928 555-55-55</h3>
    </div>
</footer>

<script src="{{ url_for('static', filename= 'js/script.js') }}">
    screen.lockOrientation("portrait");
</script>
<!--<script src="./js/test.js"></script>-->
</body>
</html>