{% extends 'main.html' %}

{% block content %} 

<section class="content">

    <main>
        <h1>Строительная Компания   {{name}}</h1>
        <em class="h2_abaut_em">
            Строительство частных и 
            коммерческих объектов под ключ
            <br>
            {{ motto }}
        </em>
        
        <button id="button_1">
            <span>Подать заявку</span>
        </button>
        <h6 id="h3_true"> </h6>
    </main>

    <div class="application" id="application">

        <button id="exit"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAh0lEQVR4nO2USw6AIAwF5xIlckQ9riw8Dm4wMYZAy8e4cFYs2vcKLYWfr7ICzhDvUo6KDYhAUJq4FBtTbhUB9pRwAN4Qu2hvoTGRVnGNifSKl0xklHiuieFxtkxaEblVPazymoEfJe5mPpFkGmr5J2bxi24TzShKq4llzqXFZPqym76uf97lBItjSzKPDXfjAAAAAElFTkSuQmCC"></button>
        
        <div class="h2_input">
            <p class="p_heder">Ведите ФИО</p>
            <input id="input_fio" class="input" type="text">
            <p id="p1" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder">Ведите название оргонизацыи</p>
            <input id="input_organization" class="input" type="text">
            <p id="p2" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder"></p>Ведите предостовляеммые услугу или продукт</p>
            <input id="input_description" class="input" type="text">
            <p id="p3" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder"></p>Контактная информация</p>
            <input id="input_contact" class="input" type="email">
            <p id="p4" class="p_input"></p>
        </div>

        <div class="h2_input">
            <p class="p_heder">Цена ваших услуг или продукта</p>
            <input id="input_price" class="input" type="text">
            <p id="p5" class="p_input"></p>
        </div>

        <button id="button_2">Отправить</button>
    </div>
</section>

{% endblock %}
